@model archNoire.Models.PagePosts

@{
    ViewBag.Title = "PagePosts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Model.name Posts</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.page_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.page_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.posts[0].page_post_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.posts[0].text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.posts[0].location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.posts[0].date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.posts[0].no_of_likes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.posts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.page_post_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.no_of_likes)
            </td>
            <td>
                @Html.ActionLink("Details", "PagePostDetails", new { page_id = Model.page_id, page_post_id = item.page_post_id }) |
                @Html.ActionLink("Delete Post", "DeletePagePost", new { page_id = Model.page_id, page_post_id = item.page_post_id })
            </td>
        </tr>
    }



</table>

<p>
    @Html.ActionLink("Back to Pages", "pages")
</p>
