@model archNoire.Models.PagePostDetails

@{
    ViewBag.Title = "PagePostDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Model.post.name Post</h2>

<div>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.post.page_id)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.post.page_id)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.post.name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.post.name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.post.text)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.post.text)
    </dd>

</dl>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.comments[0].comment_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments[0].user_commented_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments[0].name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments[0].text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments[0].no_of_likes)
        </th>
        <th></th>
    </tr>

    @foreach (var comment in Model.comments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => comment.comment_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => comment.user_commented_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => comment.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => comment.text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => comment.no_of_likes)
            </td>
            <td>
                @Html.ActionLink("Remove", "DeletePagePostComment", new { page_id = Model.post.page_id, page_post_id = comment.post_id, page_post_comment_id = comment.comment_id, user_commented_id = comment.user_commented_id })
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Back to Posts", "PagePosts" , new { page_id = Model.post.page_id})
</p>
