@model archNoire.Models.Post
@using System.Data;
@{
    Layout = "";
}
@Html.Partial("_userNavBar", null, new ViewDataDictionary { { "id", @ViewBag.userID } })

<style>
    .row {
        padding: 20px;
    }

    h2 {
        text-align: center;
    }

    .col-md-2 {
        border-right: 2px solid black;
    }

    .col {
        min-height: 100vh
    }

    .profilePhoto {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .event img {
        max-width: 100px;
        max-height: 100px;
    }

    .addPost {
        display: block;
        margin: 20px auto;
        width: 80% !important;
        min-width: 80%;
    }

    .addPostForm {
        border: 1px black solid;
        padding: 20px;
        text-align: center;
    }

    .btn {
        background: white;
        border: 1px solid black;
        color: black;
        outline: 1px solid white
    }

        .btn:hover {
            background: black;
            border: 1px solid white;
            color: white;
            outline: 1px solid black
        }
</style>


<h2>user home</h2>


<div class="row">

    <div class="col col-md-6">
        <h2>friends posts</h2>
        @if (ViewBag.dposts != null)
        {
            <div class="posts">
                @{
                    int i = 0;
                    foreach (DataRow row in ViewBag.dposts.Rows)
                    {
                        <div class="post">

                            <div class="thumbnail">
                                <!--whos posted it-->
                                <div class="info">
                                    @if (row["source"] != null)
                                    {
                                        <img src="@row["source"].ToString()" style="width:50px;height:50px;border-radius:50%" /> <strong>@row["name"].ToString()</strong>
                                    }

                                        <h4>@row["postLocation"].ToString() <span style="font-size:10px">@row["date"].ToString()</span></h4>

                                    </div>
                                @if (row["postSource"] != null)
                                {
                                    <img src="@row["postSource"].ToString()" style="border-radius:0;width:300px" />
                                }
                                <div class="caption">
                                    <h3><i class="fa fa-quote-left "></i> @row["text"].ToString() <i class="fa fa-quote-right "></i></h3>
                                </div>

                                <div class="icons">
                                    @using (Html.BeginForm("likePostHome", "User", FormMethod.Post))
                                    {


                                        <input style="display:none" value="@ViewBag.userID" name="userId" />
                                        <input style="display:none" value="@row["post_id"]" name="postId" />
                                        <input style="display:none" value="@row["user_id"]" name="userPostedID" />

                                        <button type="submit" style="background-color:transparent;outline:none;border:none"><i class="fa fa-thumbs-up fa-2x"></i></button> @row["no_of_likes"].ToString()
                                    }


                                    @using (Html.BeginForm("AddCommentHome", "User", FormMethod.Post))
                                    {
                                        <input style="display:none" value="@ViewBag.userID" name="user_added_comment" />
                                        <input style="display:none" value="@row["post_id"]" name="postID" />
                                        <input style="display:none" value="@row["user_id"]" name="userPostedID" />
                                        <textarea class="form-control" value="@row["user_id"]" name="text" style="max-width:90%;min-width:90%;max-height:50px;min-height:50px;margin:20px 2px ;" required></textarea>

                                        <button type="submit" class="btn"><i class="fa fa-comment fa"></i> add comment</button>
                                    }
                                </div>
                                @if (ViewBag.comments[i] != null)
                                {
                                    foreach (DataRow rowComment in ViewBag.comments[i].Rows)
                                    {
                                <div class="comments" style="padding:20px;border:black 1px solid;border-radius:50px 45px 45px 15px;margin:10px">
                                    
                                    <!--whos posted it-->
                                    <div class="info">
                                        <img src="@rowComment["source"].ToString()" style="width:20px;height:20px;border-radius:50%" /> <strong>@rowComment["name"].ToString()</strong>


                                    </div>
                                    <p>@rowComment["text"].ToString()</p>

                                    @using (Html.BeginForm("likeCommentHome", "User", FormMethod.Post))
                                    {
                                        <input style="display:none" value="@ViewBag.userID" name="user_liked_id" />
                                        <input style="display:none" value="@rowComment["user_commented_id"]" name="userCommentedID" />
                                        <input style="display:none" value="@rowComment["post_id"]" name="postId" />
                                        <input style="display:none" value="@rowComment["user_posted_id"]" name="userPostedID" />
                                        <input style="display:none" value="@rowComment["comment_id"]" name="comment_id" />


                                        <button type="submit" style="background-color:transparent;outline:none;border:none"><i class="fa fa-thumbs-up fa"></i></button> @row["no_of_likes"].ToString()
                                    }


                                </div>
                                    }
                                }
                            </div>

                        </div>
                        i++;
                    }
                }
            </div>
        }
                    </div>
    <div class="col-md-6">
        <h2>pages posts</h2>
        @if (ViewBag.pagePost != null)
        {
            <div class="posts">
                @{
                    int i = 0;
                    foreach (DataRow row in ViewBag.pagePost.Rows)
                    {
                        <div class="post">

                            <div class="thumbnail">
                                <!--whos posted it-->
                                <div class="info">
                                    <img src="@row["source"].ToString()" style="width:20px;height:20px;border-radius:50%" /> <strong>@row["name"].ToString()</strong>


                                </div>
                                @if (row["postSource"] != null)
                                {
                                    <img src="@row["postSource"].ToString()" style="border-radius:0;width:300px" />
                                }
                                <div class="caption">

                                    <h3><i class="fa fa-quote-left "></i> @row["text"].ToString() <i class="fa fa-quote-right "></i></h3>
                                </div>

                                <div class="icons">
                                    @using (Html.BeginForm("likePagePostHome", "User", FormMethod.Post))
                                    {


                                        <input style="display:none" value="@ViewBag.userID" name="userId" />
                                        <input style="display:none" value="@row["page_post_id"]" name="postId" />
                                        <input style="display:none" value="@row["page_id"]" name="pagePostedID" />

                                        <button type="submit" style="background-color:transparent;outline:none;border:none"><i class="fa fa-thumbs-up fa-2x"></i></button> @row["no_of_likes"].ToString()
                                    }


                                    @using (Html.BeginForm("AddPageCommentHome", "User", FormMethod.Post))
                                    {
                                        <input style="display:none" value="@ViewBag.userID" name="user_added_comment" />
                                        <input style="display:none" value="@row["page_post_id"]" name="postID" />
                                        <input style="display:none" value="@row["page_id"]" name="pagePostedID" />
                                        <textarea class="form-control" value="@row["user_id"]" name="text" style="max-width:90%;min-width:90%;max-height:50px;min-height:50px;margin:20px 2px ;" required></textarea>


                                        <button type="submit" class="btn"><i class="fa fa-comment fa"></i> add comment</button>
                                    }
                                </div>
                                @if (ViewBag.pageComments[i] != null)
                                {
                                    foreach (DataRow rowComment in ViewBag.pageComments[i].Rows)
                                    {
                                        <div class="comments" style="padding:20px;border:black 1px solid;border-radius:50px 45px 45px 15px;margin:10px">
                                            <!--whos posted it-->
                                            <div class="info">
                                                <img src="@rowComment["source"].ToString()" style="width:20px;height:20px;border-radius:50%" /> <strong>@rowComment["name"].ToString()</strong>


                                            </div>

                                            <p>@rowComment["text"].ToString()</p>

                                            @using (Html.BeginForm("likePageCommentHome", "User", FormMethod.Post))
                                            {
                                                <input style="display:none" value="@ViewBag.userID" name="user_liked_id" />
                                                <input style="display:none" value="@rowComment["user_commented_id"]" name="userCommentedID" />
                                                <input style="display:none" value="@rowComment["page_post_id"]" name="postId" />
                                                <input style="display:none" value="@rowComment["page_id"]" name="pagePostedID" />
                                                <input style="display:none" value="@rowComment["page_post_comment_id"]" name="comment_id" />


                                                <button type="submit" style="background-color:transparent;outline:none;border:none"><i class="fa fa-thumbs-up fa"></i></button> @row["no_of_likes"].ToString()
                                            }


                                        </div>
                                    }
                                }
                            </div>

                        </div>
                        i++;
                    }
                }
            </div>
        }

    </div>
</div>

@Html.Partial("_userFooter");


