@model archNoire.Models.Post
@using System.Data;
@{
    Layout = "";
}
@Html.Partial("_userNavBar", null, new ViewDataDictionary { { "id", @ViewBag.userID } })

<style>
    .row {
        padding: 20px;
    }

    h2 {
        text-align: center;
    }

    .col-md-2 {
        border-right: 2px solid black;
    }

    .col {
        min-height: 100vh
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
</style>


<h2>user profile</h2>


<div class="row">
    <div class="col col-md-2">
        <img src="@ViewBag.photo" alt="profile picture" />
        <h3>@ViewBag.name</h3>
        <h3>@ViewBag.bio  </h3>
        <h3> @ViewBag.email  </h3>
        <h3>@ViewBag.location</h3>
        <h3>@ViewBag.gender</h3>
        <h3> @ViewBag.birthDate</h3>
        <h3> @ViewBag.phone </h3>




    </div>
    <div class="col col-md-8">

        @using (Html.BeginForm("AddPost", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.TextBoxFor(Post => Post.text, new { @class = "form-control", @type = "text", @required = "true", @placeholder = "text" })
        @Html.TextBoxFor(Post => Post.location, new { @class = "form-control", @type = "text", @required = "true", @placeholder = "location" })
   

        <h2>upload postPhoto</h2>
       
        <br />

        <input type="file" name="postPhoto" id="postPhoto" />

    <input id="addUserPost" type="submit" value="add post" />
}
        <!--get posts-->
        <h2>wall</h2>
        @if (ViewBag.dposts != null)
        {
            <div class="posts">
                @{
                    int i = 0;
                    foreach (DataRow row in ViewBag.dposts.Rows)
                    {
                        <div class="post">

                            <div class="thumbnail">
                                @if( row["source"] != null)
                                {
                                    <img src="@row["source"].ToString()" style="border-radius:0;width:300px" />
                                }
                                <div class="caption">

                                    <p>@row["text"].ToString()</p>
                                    <p>@row["location"].ToString()</p>
                                    <p>@row["date"].ToString()</p>
                                </div>

                                <div class="icons">
                                    @using (Html.BeginForm("likePostWall", "User", FormMethod.Post))
                                    {
                                        <input style="display:none" value="@row["user_id"]" name="userId" />
                                        <input style="display:none" value="@row["post_id"]" name="postId" />
                                        <input style="display:none" value="@row["user_id"]" name="userPostedID" />
                                        <input id="likePostWall" type="submit" value=" Like post" />
                                    }
                                    <i class="fa fa-thumbs-up"></i> like @row["no_of_likes"].ToString()

                                    @using (Html.BeginForm("AddComment", "User", FormMethod.Post))
                                    {
                                        <input style="display:none" value="@row["user_id"]" name="userID" />
                                        <input style="display:none" value="@row["post_id"]" name="postID" />
                                        <input style="display:none" value="@row["user_id"]" name="userPostedID" />
                                        <textarea class="form-control" value="@row["user_id"]" name="text"></textarea>

                                        <input id="AddComment" type="submit" value=" add comment" />
                                    }
                                </div>
                                @if (ViewBag.comments[i] != null)
                                {
                                    <div class="comments">
                                        @foreach (DataRow rowComment in ViewBag.comments[i].Rows)
                                        {
                                            <p>@rowComment["text"].ToString()</p>
                                            <p>no of likes @rowComment["no_of_likes"].ToString()</p>
                                            using (Html.BeginForm("likeComment", "User", FormMethod.Post))
                                            {
                                                <input style="display:none" value="@ViewBag.userID" name="user_liked_id" />
                                                <input style="display:none" value="@rowComment["user_commented_id"]" name="userCommentedID" />
                                                <input style="display:none" value="@rowComment["post_id"]" name="postId" />
                                                <input style="display:none" value="@rowComment["user_posted_id"]" name="userPostedID" />
                                                <input style="display:none" value="@rowComment["comment_id"]" name="comment_id" />


                                                <input id="LikeComment" type="submit" value=" like comment" />
                                            }

                                        }
                                    </div>
                                }
                            </div>

                        </div>
                        i++;
                    }
                }
            </div>
        }

    </div>
</div>



@Html.Partial("_userFooter");
