@model archNoire.Models.Page
 @using System.Data;
@{
    Layout = "";
}
@Html.Partial("_userNavBar", null, new ViewDataDictionary { { "id", @ViewBag.userID } })

<style>
    .row {
        padding: 20px;
    }

    h2 {
        text-align: center;
    }

    .col-md-2 {
        border-right: 2px solid black;
    }

    .col {
        min-height: 100vh
    }
</style>


<h2>page searched profile</h2>


<div class="row">
    <div class="col col-md-2">
        <img src="@ViewBag.page.Rows[0]["source"]" alt="profile picture" />
        @if (@ViewBag.like)
        {
            using (Html.BeginForm("RemoveLikePage", "User", FormMethod.Post))
            {

                <input value="@Convert.ToInt32(ViewBag.page.Rows[0]["page_id"].ToString())" style="display:none" name="pageID" />
                <input id="RemoveLikePage" type="submit" value="remove like page" />
            }
        }
        else
        {
            using (Html.BeginForm("AddLikePage", "User", FormMethod.Post))
            {

                <input value="@Convert.ToInt32(ViewBag.page.Rows[0]["page_id"].ToString())" style="display:none" name="pageID" />
                <input id="AddLikePage" type="submit" value="add like page" />
            }
        }
        <h3>@ViewBag.page.Rows[0]["name"].ToString()</h3>
        <p>@ViewBag.page.Rows[0]["info"].ToString()</p>
        <h4>@ViewBag.page.Rows[0]["phone_no"].ToString()</h4>
        <h4>@ViewBag.page.Rows[0]["location"].ToString()</h4>
        <h4>@ViewBag.page.Rows[0]["business_email"].ToString()</h4>

    </div>
    <div class="col-md-12">
        <h2>add review</h2>
        @using (Html.BeginForm("AddReview", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <input value="@Convert.ToInt32(ViewBag.page.Rows[0]["page_id"].ToString())" style="display:none" name="pageID" />
            <input style="display:none" value="@ViewBag.userID" name="userId" />
            <textarea name="text"></textarea>
            <input id="addReview" type="submit" value="add review" />
        }
        <!--get reviews-->

        @if (ViewBag.reviews != null)
        {
            <div class="reviews">
                @{

                    foreach (DataRow row in ViewBag.reviews.Rows)
                    {
                        <div class="review">
                            <h3> @row["name"].ToString() </h3>
                            <p> @row["text"].ToString() </p>


                        </div>

                    }
                }
            </div>
        }

    </div>
    <div class="col col-md-5">

        <!--get posts-->
        <h2>wall</h2>
        @if (ViewBag.posts != null)
        {
            <div class="posts">
                @{
                    int i = 0;
                    foreach (DataRow row in ViewBag.posts.Rows)
                    {
                        <div class="post">

                            <div class="thumbnail">
                                @if (row["source"] != null)
                                {
                                    <img src="@row["source"].ToString()" style="border-radius:0;width:300px" />
                                }
                                <div class="caption">

                                    <p>@row["text"].ToString()</p>
                                    <p>@row["location"].ToString()</p>
                                    <p>@row["date"].ToString()</p>
                                </div>

                                <div class="icons">

                                    @using (Html.BeginForm("likePostPageSearch", "User", FormMethod.Post))
                                    {
                                        <input style="display:none" value="@ViewBag.userID" name="userId" />
                                        <input style="display:none" value="@row["page_post_id"]" name="postId" />
                                        <input style="display:none" value="@row["page_id"]" name="pageID" />
                                        <input id="likePostWallPageSearch" type="submit" value=" Like post" />
                                    }
                                    <i class="fa fa-thumbs-up"></i> like @row["no_of_likes"].ToString()

                                    @using (Html.BeginForm("AddCommentPageSearch", "User", FormMethod.Post))
                                    {
                                        <input style="display:none" value="@ViewBag.userID" name="userID" />
                                        <input style="display:none" value="@row["page_post_id"]" name="postID" />
                                        <input style="display:none" value="@row["page_id"]" name="pageID" />
                                        <textarea class="form-control" value="" name="text"></textarea>

                                        <input id="AddCommentPageSearch" type="submit" value=" add comment" />
                                    }

                                </div>
                                @if (ViewBag.comments[i] != null)
                                {
                                <div class="comments">
                                    @foreach (DataRow rowComment in ViewBag.comments[i].Rows)
                                    {
                                        <p>@rowComment["text"].ToString()</p>
                                        <p>no of likes @rowComment["no_of_likes"].ToString()</p>

                                        using (Html.BeginForm("likePageComment", "User", FormMethod.Post))
                                        {
                                            <input style="display:none" value="@ViewBag.userID" name="user_liked_id" />
                                            <input style="display:none" value="@rowComment["user_commented_id"]" name="userCommentedID" />
                                            <input style="display:none" value="@rowComment["page_post_id"]" name="postId" />
                                            <input style="display:none" value="@rowComment["page_id"]" name="pagePostedID" />
                                            <input style="display:none" value="@rowComment["page_post_comment_id"]" name="comment_id" />


                                            <input id="LikePageComment" type="submit" value=" like comment" />
                                        }

                                    }
                                </div>
                                }
                            </div>

                        </div>
                        i++;
                    }
                }
            </div>
        }

    </div>
  
    <!--get events-->
    <div class="col col-md-5">
        @if (ViewBag.events != null)
        {
            <div class="events">
                @{

                    foreach (DataRow row in ViewBag.events.Rows)
                    {
                        <div class="event">

                            <div class="thumbnail">
                                @if (row["source"] != null)
                                {
                                    <img src="@row["source"].ToString()" style="border-radius:0;width:300px" />
                                }
                                <div class="caption">

                                    <p>@row["ticket_price"].ToString()</p>
                                    <p>@row["location"].ToString()</p>

                                    <p>@row["date"].ToString()</p>
                                </div>

                                <div class="icons">
                                    @using (Html.BeginForm("goingToEvent", "User", FormMethod.Post))
                                    {
                                    <input style="display:none" value="@ViewBag.userID" name="userID" />
                                    <input style="display:none" value="@row["page_id"]" name="pageID" />
                                    <input style="display:none" value="@row["event_id"]" name="eventID" />



                                    <input id="GoingToEvent" type="submit" value="go to event" />
                                    }
                                    <i class="fa fa-thumbs-up"></i> going to event @row["no_of_people_going"].ToString()

                                </div>

                            </div>

                        </div>

                    }
                }
            </div>
        }

    </div>
</div>



@Html.Partial("_userFooter");
