

@Html.Partial("_userNavBar", null, new ViewDataDictionary { { "id", @ViewBag.userID } })
<style>
    .row {
        padding: 20px;
    }

    h2 {
        text-align: center;
    }

    .col-md-2 {
        border-right: 2px solid black;
    }

    .col {
        min-height: 100vh
    }
</style>


<h2>search page</h2>


<div class="row">

    <div class="col-md-12">
        <ul>
            @foreach (int searchedId in ViewBag.usersSearchedID)
            {
            <li><a href="@Url.Action("UserSearched", "User", new { id = searchedId })">user @searchedId</a></li>
            }
        </ul>
    </div>

</div>



@Html.Partial("_userFooter");
