@model archNoire.Models.User
@{
    Layout = "";
}
@Html.Partial("_userNavBar", null, new ViewDataDictionary { { "id", @ViewBag.userID } })

<style>
    .row {
        padding: 20px;
    }

    h2 {
        text-align: center;
    }

    .col-md-2 {
        border-right: 2px solid black;
    }

    .col {
        min-height: 100vh
    }
</style>


<h2>user searched profile</h2>


<div class="row">
    <div class="col col-md-2">
        <img src="" alt="profile picture" />
        @if (@ViewBag.friend)
        {
            using (Html.BeginForm("RemoveFriend", "User", FormMethod.Post))
            {

                <input value="@Convert.ToInt32(ViewBag.user2.Rows[0]["user_id"].ToString())" style="display:none" name="user2ID" />
                <input id="RemoveFriend" type="submit" value="remove friend" />
            }
        }
        else
        {
            using (Html.BeginForm("AddFriend", "User", FormMethod.Post))
            {

                <input value="@Convert.ToInt32(ViewBag.user2.Rows[0]["user_id"].ToString())" style="display:none" name="user2ID" />
                <input id="AddFriend" type="submit" value="add friend" />
            }
        }
        <h3>@ViewBag.user2.Rows[0]["name"].ToString()</h3>
        <p>@ViewBag.user2.Rows[0]["bio"].ToString()</p>
        <h4>@ViewBag.user2.Rows[0]["phone_no"].ToString()</h4>
        <h4>@ViewBag.user2.Rows[0]["location"].ToString()</h4>
        <h4>@ViewBag.user2.Rows[0]["birth_date"].ToString()</h4>
        <h4>@ViewBag.user2.Rows[0]["personal_email"].ToString()</h4>

    </div>
    <div class="col col-md-8">
        <h2>wall</h2>


    </div>
</div>



@Html.Partial("_userFooter");
