@model archNoire.Models.EventAndPost
@using System.Data;



<style>
    .row {
        padding: 20px;
    }

    h2 {
        text-align: center;
    }

    .col-md-2 {
        border-right: 2px solid black;
    }

    .col {
        min-height: 100vh
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .profilePhoto {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .event img {
        max-width: 100px;
        max-height: 100px;
    }

    .addPost {
        display: block;
        margin: 20px auto;
        width: 80% !important;
        min-width: 80%;
    }

    .addPostForm {
        border: 1px black solid;
        padding: 20px;
        text-align: center;
    }

    .btn {
        background: white;
        border: 1px solid black;
        color: black;
        outline: 1px solid white;
        margin:10px;
    }

        .btn:hover {
            background: black;
            border: 1px solid white;
            color: white;
            outline: 1px solid black
        }
        .event{
            margin-top:20px
        }
        .badge{
            background:transparent;
            border:1px solid black;
            color:black;

        }
</style>




<div class="row">
    <div class="col col-md-2">
        <img src="@ViewBag.photo" alt="profile picture" class="profilePhoto" />
        <h4>@ViewBag.name</h4>
        <h4>@ViewBag.info  </h4>
        <h4> @ViewBag.email  </h4>
        <h4>@ViewBag.location</h4>


        <h4> @ViewBag.phone </h4>
        <div style="text-align:center">
            <h5>update password mini form</h5>
            @using (Html.BeginForm("updatePagePassword", "Page", FormMethod.Post))
            {
                <input class="addPost form-control" name="password" type="password" required placeholder="new password" />
                <button class="btn">update password</button>
                <h6>no time for a new page to update your password mate ...just live with it</h6>
            }
            <!--show list of people like page freinds-->
            <button type="button" class="btn" data-toggle="collapse" style="border-radius:5px ;display:block;margin:10px" data-target="#peopleLikePage">people like page <span class="badge">@if (ViewBag.peopleLikePage == null)
            {<strong>0 </strong> }
            else
            {<strong>@ViewBag.peopleLikePage.Rows.Count</strong>}</span></button>
            <div id="peopleLikePage" class="collapse in">

                <ul class="list-group">
                    @if (ViewBag.peopleLikePage != null)
                    {
                        foreach (DataRow row in ViewBag.peopleLikePage.Rows)
                        {
                            <li class="list-group-item">
                                <img src="@row["source"].ToString()" style="width:20px;height:20px;border-radius:50%" /> <strong> @row["name"].ToString()</strong>

                            </li>
                        }
                    }
                </ul>

            </div>
            @using (Html.BeginForm("LogOut", "Page", FormMethod.Post))
            {
                <button class="btn">log out</button>
            }

        </div>
    </div>
    <div class="col col-md-5">
        <div class="addPostForm">
            <h3>add post</h3>
            @using (Html.BeginForm("AddPost", "Page", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.TextBoxFor(EventAndPost => EventAndPost.Post.text, new { @class = "form-control addPost", @type = "text", @required = "true", @placeholder = "text" })
                @Html.TextBoxFor(EventAndPost => EventAndPost.Post.location, new { @class = "form-control addPost", @type = "text", @required = "true", @placeholder = "location" })


                <h6>upload postPhoto</h6>

                <br />

                <input type="file" name="postPhoto" id="pagePostPhoto" />

                <input id="addPagePost " class="btn" type="submit" value="add post" />
            }
            </div>
            <!--get posts-->
            <h2>wall</h2>
            @if (ViewBag.dposts != null)
            {
                <div class="posts">
                    @{
                        int i = 0;
                        foreach (DataRow row in ViewBag.dposts.Rows)
                        {
                            <div class="post">

                                <div class="thumbnail">
                                    <!--whos posted it-->
                                    <div class="info">
                                        <img src="@row["source"].ToString()" style="width:50px;height:50px;border-radius:50%" /> <strong>@row["name"].ToString()</strong>
                                        <h4>@row["postLocation"].ToString() <span style="font-size:10px">@row["date"].ToString()</span></h4>

                                    </div>
                                    @if (row["postSource"] != null)
                                    {
                                        <img src="@row["postSource"].ToString()" style="border-radius:0;width:300px" />
                                    }
                                    <div class="caption">
                                        <h3><i class="fa fa-quote-left "></i> @row["text"].ToString() <i class="fa fa-quote-right "></i></h3>
                                    </div>

                                    <div class="icons">

                                        <i class="fa fa-thumbs-up"></i>  @row["no_of_likes"].ToString()

                                    </div>
                                    @if (ViewBag.comments[i] != null)
                                    {

                                        foreach (DataRow rowComment in ViewBag.comments[i].Rows)
                                        {
                                        <div class="comments" style="padding:20px;border:black 1px solid;border-radius:50px 45px 45px 15px;margin:10px">
                                            <!--whos posted it-->
                                            <div class="info">
                                                <img src="@rowComment["source"].ToString()" style="width:20px;height:20px;border-radius:50%" /> <strong>@rowComment["name"].ToString()</strong>


                                            </div>
                                            <p> @rowComment["text"].ToString() </p>
                                            <i class="fa fa-thumbs-up fa"></i> @rowComment["no_of_likes"].ToString()
                                        </div>

                                         }
                                          
                                        }
                                    </div>

                            </div>
                            i++;
                        }
                    }
                </div>
            }

        </div>
    <div class="col col-md-5">
        <div class="addPostForm">
            <h3>add event</h3>
            @using (Html.BeginForm("AddEvent", "Page", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.TextBoxFor(EventAndPost => EventAndPost.Event.location, new { @class = "form-control addPost", @type = "text", @required = "true", @placeholder = "location" })
                @Html.TextBoxFor(EventAndPost => EventAndPost.Event.date, new { @class = "form-control addPost", @type = "date", @required = "true", @placeholder = "" })
                @Html.TextBoxFor(EventAndPost => EventAndPost.Event.price, new { @class = "form-control addPost", @type = "number", @required = "true", @placeholder = "price of tickets" })


                <h6>upload event photo </h6>

                <br />

                <input type="file" name="eventPhoto" id="pageEventPhoto" />

                <input id="addPageEvent" type="submit" value="add event" class="btn"  />
            }
            </div>
            <!--get events-->

            @if (ViewBag.events != null)
            {
                <div class="events">
                    @{
                        int i = 0;
                        foreach (DataRow row in ViewBag.events.Rows)
                        {


                            <div class="event">

                                <div class="thumbnail">
                                    <!--whos posted it-->
                                    <div class="info">
                                        <img src="@row["source"].ToString()" style="width:50px;height:50px;border-radius:50%" /> <strong>@row["name"].ToString()</strong>
                                        <h4>@row["eventLocation"].ToString() <span style="font-size:10px">@row["date"].ToString()</span></h4>

                                    </div>
                                    @if (row["eventSource"] != null)
                                    {
                                        <img src="@row["eventSource"].ToString()" style="border-radius:0;width:300px" />
                                    }
                                        <div class="caption">

                                            <p>@row["ticket_price"].ToString()</p>


                                            <div class="icons">

                                                number of people going @row["no_of_people_going"].ToString() <i class="fa fa-user"></i>

                                            </div>

                                            @if (ViewBag.peopleGoing[i] != null)
                                            {
                                                string target = "people" + i;
                                                 <!--show list of people going-->
                                                    <button type="button" class="btn" data-toggle="collapse" style="border-radius:5px ;display:block;margin:10px" data-target="#@target ">view people going</button>
                                                    <div id="@target" class="collapse in">

                                                        <ul class="list-group">
                                                            @if (ViewBag.peopleGoing[i] != null)
                                                            {
                                                               
                                                                foreach (DataRow peopleRow in ViewBag.peopleGoing[i].Rows)
                                                                {
                                                                    <li class="list-group-item">
                                                                        <img src="@peopleRow["source"].ToString()" style="width:20px;height:20px;border-radius:50%" /> <strong>@peopleRow["name"].ToString() </strong>

                                                                    </li>
                                                                }
                                                            }

                                                        </ul>

                                                    </div>
                                                

                                            }
                                        </div>

                            </div>
                                </div>
                            i++;

                        }
                    }
                </div>
            }


            <!--get reviews-->

            @if (ViewBag.reviews != null)
            {
                <div class="reviews">
                    @{

                        foreach (DataRow row in ViewBag.reviews.Rows)
                        {
                    <div class="review">
                        <div class="info">
                            <img src="@row["source"].ToString()" style="width:20px;height:20px;border-radius:50%" /> <strong>@row["name"].ToString()</strong>


                        </div>
                        <p> @row["text"].ToString() </p>


                    </div>

                        }
                    }
                </div>
            }

        </div>
    </div>



@Html.Partial("_userFooter");
