@model archNoire.Models.User
@{
    int userId = (int)this.ViewData["id"];
    Layout = "";

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>archNoire</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        *{
            transition:all .3s ease-in-out
        }
        body {
            padding: 0;
            margin: 0;
        }
        .btn {
            background: white;
            border: 1px solid black;
            color: black;
            outline: 1px solid white;
            border-radius: 15px 2px;
        }

            .btn:hover {
                background: black;
                border: 1px solid white;
                color: white;
                outline: 1px solid black
            }
            form{
                display:inline;
            }
            a{
                color:black !important;
            }
        .fa:hover {
            transform: scale(1.2);
            color: #35393D
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-default" style="background-color:transparent;color:black">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Home","User",new { id= userId})">archNoire</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index","User",new { id=userId})">profile</a></li>
                    <li><a href="@Url.Action("Home","User",new {id=userId })">home</a></li>

                </ul>

                @using (Html.BeginForm("SearchPage", "User", FormMethod.Get))
                {
                        @Html.TextBoxFor(User => User.searchedUser, new { @type = "text", @class = "form-control", @required = "true" ,@style = "float:left;margin-top:5px;margin-right:10px"})
                   
                    <input id="searchUser" type="submit" value="search" class="btn" style="margin-top:5px" />
                }

                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">more <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li style="text-align:center"><a href="@Url.Action("userSetting","User",new { id=userId})">setting</a></li>
                            @using (Html.BeginForm("LogOut", "User", FormMethod.Post))
                            {
                             <input type="submit" value="logout" class="btn" style="width:100%;display:inline-block"/>
                            }


                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>




